
@{
    ViewBag.Title = "HW1";
}

<h2>HW1</h2>
<p>用戶名:<input type="text" name="firstname"></p>
<br>
<br>
<p>密碼 :<input type="password" name="username"></p>
<p><input type="submit" value="Submit"></p>
<p>
 性別:
<input type="radio" name="name" value="A"> 男生
<input type="radio" name="name" value="B"> 女生
 </p>
<p>
       自我介紹:
    <textarea>我4大帥哥</textarea>
</p>